.index1{
    font-family: 'EB Garamond', serif;
/*    background-image: url(../images/glare_circles_shadow_background_faded_47617_3840x2160.jpg); */
    background-repeat: no-repeat;
    width: 100%;

}
a{
    text-decoration: none;
    color: beige;
}
.title{
    font-family: font-family: 'Playfair Display', serif;
    padding-left: px;
    color: aqua;

}

.header{
    font-size: 40px;
    color: #727243;
    background-size: 100%;
    width: 1300px;
    height: 350px;
}
.primary-nav{
    display: inline-block;
    vertical-align: bottom;

}
.logo{
    float: left;
    padding-left: 56px;

}

.primary-nav ul{
    float: left;

}
.nav primary-nav{
    float: 50% left;
}
.primary-nav li {
    text-align: center;
    list-style-type: none;
    padding-top: 65px;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    margin-left: 3px;
    color: #c1c174;
    margin: 13px;
}
a{
   text-decoration: none;
    color: bisque;

}
.parg{
    color: #142727;
    font-size: 33px;
}
